
ion-content.background{
    --background: url('../../assets/Fondo1.jpg') 0 0/100% 100% no-repeat;
    background-position: center;
    background-size: contain;
}
.no-scroll .scroll-content {
 overflow: hidden;
}
.center-span{
    display: block;
    text-align: center;
}
.img_conn{
    height: 100%;
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.ImagenIcono{
    width: 100%;
    height: 100%;
      
}
.texto-abajo{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: aliceblue; 
}

.InputStylu{
    background-color: black;
    color: aliceblue;
}

