<ion-content class="background .no-scroll" >
  <!-- <div class="img_conn" style="background-image: url('../../assets/Fondo1.jpg')"> -->
    <div class="contenedor">
      <ion-img class="ImagenIcono" src="../../assets/logowilson.png"></ion-img>
      <div class="texto-abajo">Bienvenido a <strong style="color:blueviolet;"> R.V!!</strong> </div>
    </div>
    
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <ion-row>
        <ion-col>
          <ion-item color="dark" lines="full">
              <ion-label position="floating">Email</ion-label>
              <ion-input name="email" placeholder="Tu@gmail.com" type="text" formControlName="email" required></ion-input>
          </ion-item>
          <span class="error ion-padding" style="color:red; font-size: x-small " *ngIf="isSubmitted && errorControl.email.errors?.required">
            Email es requerido.
          </span>
          <span class="error ion-padding" style="color:red; font-size: x-small" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
            Por favor ingrese un correo valido.
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item color="dark" lines="full" >
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input name="password" type="password" placeholder="Contraseña" formControlName="password" required></ion-input>
          </ion-item>
          <span class="error ion-padding"  style="color:red; font-size: x-small " *ngIf="isSubmitted && errorControl.password.errors?.required">
            Contraseña Requerida.
          </span>
          <span class="error ion-padding" style="color:red;  font-size: x-small"  *ngIf="isSubmitted && errorControl.password.errors?.minlength">
            El campo debe tener un mínimo de 5 caracteres.
          </span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button 
          color="danger"
          type="submit"
          expand="block" 
          >Iniciar sesion</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <ion-row class="justify-content: space-around">
      <ion-col>
        <ion-button 
        shape="round"  
        color="secondary"
        type="submit" 
        (click)="onLogin('usuario@usuario.com', 333333 )"
        size="small">Usuario</ion-button>
      </ion-col>
      <ion-col>
        <ion-button 
        shape="round" 
        color="tertiary"
        type="submit" 
        (click)="onLogin('admin@admin.com', 111111 )"
        size="small"
        >Admin</ion-button>
      </ion-col>
      <ion-col>
        <ion-button
        shape="round"
        color="primary"
        type="submit" 
       (click)="onLogin('tester@tester.com', 555555 )"
        size="small">Tester</ion-button>
      </ion-col>
    </ion-row>
  <!-- </div> -->
</ion-content>
