<ion-header>
  <ion-toolbar>
    <ion-title>Revelamiento Visual</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-row>
    <ion-col>
      <ion-button
        color="none" 
        expand="block"
        class="ion-button"
        style="background-image:url('../../../../assets/Felicidad.png'); background-size:cover" 
        routerLink="camara"
      >Cosas Lindas</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button 
      color="none" 
        expand="block"
        class="ion-button"
        style="background-image:url('../../../../assets/tristeza.jpg'); background-size:cover"
        routerLink="camara" 
      >Cosas Feas</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
